body {
  font-family: 'Inter', sans-serif;
}

.navItem.active {
  color: blue;
}

li {
  list-style: none;
}

#add-employee-form {
  margin: 35px 0;
}

#active-employee-wrapper,
#active-manager-wrapper {
  margin: 35px 0;
  background-color: aliceblue;
}

.navbar {
  background-color: dodgerblue;
  opacity: 95%;
  color: white;
}

.footer {
  opacity: 95%;
  }

.card.card-footer a {
color: white;
display: inline;
}

/* header and footer edits */
footer a {
  text-decoration: none;
  color: white;
}

#logo {
  max-width: 8rem;
}

#navbar {
  justify-content: space-between;
  display: flex;
}

/* #pageControl {
  position: relative;
  min-height: 100vh;
} */

/* #contentControl {
  padding-bottom: 3.5rem;
} */

/* #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
} */

.nav-item:hover {
  color:blue;
}

@media screen and (max-width: 575px) {
  #navbar {
    justify-content: center;
  }
}