/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  font-family: 'Inter', sans-serif;
}

.navItem.active {
  color: blue;
}

li {
  list-style: none;
}

#add-employee-form {
  margin: 35px 0;
}
#active-employee-wrapper,
#active-manager-wrapper {
  margin: 35px 0;
  background-color: aliceblue;
}

/* nav img {
  max-width: 100px;
  margin-left: -2rem;
} */

.navbar {
  background-color: dodgerblue;
  opacity: 95%;
  color: white;
}

.footer {
  opacity: 95%;
  }

.card.card-footer a {
color: white;
display: inline;
}
